header {
    background: rgba(0,0,0,0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  
  nav {
    float: left;
    background: #4C9FC1;
    width: 327px;
    height: 72px;
    top: 710px;
    left: 24px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
  }

  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  nav ul li img {
    display: block;
    padding: 10px;
  }

  nav ul li:hover {
    background: rgb(139, 194, 216);
    border-radius: 15px;
  }