.navigation {
    width: 375px;
    display: flex;
    align-items: center;
}
.nav-list {
    padding: 0;
}

.nav-list li {
    display: flex;
    padding: 0 5px;
}
.nav-list a {
    color: gray;
    background-color: white;
}
.nav-list a:hover {
    color: black; 
}

