.navigation {
    margin: 24px;
    height: 20px;
    display: flex;
    align-items: center;
}
.nav-list {
    list-style: none;
    display: flex;
    padding: 0;
}

.nav-list li {
    padding: 0 15px 0 0;
}

.nav-list a {
    color: #464646;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    padding-bottom: 5px;
}
.nav-list a:hover {
    color: black;
    font-weight: 600; 
    line-height: 20px;
    border-bottom: 2px solid black;
}

