.description-container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ffffff;
}

.description-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bedroom-info, .area-info {
  display: flex;
  align-items: center;
}

.bedroom-info img, .area-info img {
  margin-right: 8px;
}

.price-info {
  margin-top: 20px;
  font-weight: bold;
  color: #008000; /* Green color, you can adjust as needed */
}
