.description-container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ffffff;
}

.description-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bedroom-info, .area-info {
  display: flex;
  align-items: center;
}

.bedroom-info img, .area-info img {
  margin-right: 8px;
}
